# PyCharm folder
.idea
# DB
db.sqlite3

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sql
*.sqlite3
db.sqlite3
media/
staticfiles/
static/
local_settings.py


# If you are using the Django migrations
*.pyo
*.pyd
*.db