<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Un-Minified version -->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css" />
    </style>
  </head>
  <body>
    <!-- Navbar -->
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
      </nav>
    </header>

    <h1>About Us</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus ac
        libero ultrices tincidunt. Nullam nec purus ac libero ultrices tincidunt.
        Nullam nec purus ac libero ultrices tincidunt. Nullam nec purus ac libero
        ultrices tincidunt. Nullam nec purus ac libero ultrices tincidunt.
        nec purus ac libero ultrices tincidunt. Nullam nec purus ac libero ultrices
        tincidunt. Nullam nec purus ac libero ultrices tincidunt. Nullam nec purus
    <!-- Your website content here -->
  </body>
</html>
